body{
  font-family: 'Abel', sans-serif !important;
}
a:hover{
  color: #fac564 !important;
}
.btn{
  background-color: #fac564 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
}
.btn:hover{
  background-color: transparent !important;
  border: 1px solid #fac564;
  color: #fac564 !important;
}
/*///////////////////// Navbar ///////////////////*/
.navbar {
    background-color: #121618 !important;
}
.navbar-dark .navbar-toggler{
  border:0 !important;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
/* change the link color */
.navbar .navbar-nav .nav-link {
    color: #FFF !important;
}
/* change the color of active or hovered links */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link {
  color: #fac564 !important;
}
/*///////////////////// Jumbotron //////////////////*/
.jumbotron{
  border-radius: 0 !important;
}
.bg-image {
  background: url('../img/bg_jumbotron.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.title-page{
  margin-top: 71px !important;
}
.title-page h1{
  color: #FFF;
}
.menu-header{
  background: url('../img/bg_menu.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*//////////////// Section ////////////*/
.promo{
  background-color: #FFF;
}
.news{
  background: url('../img/bg_news.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #F5F5F5;

}
.border-title{
  height: 3px;
  width: 40px;
  margin: 0 auto 0 auto;
  background-color: #fac564;
}
.badge{
  font-size: 1.8rem !important;
  padding: 0!important;
}
.menu-content small{
  line-height: 1.2rem;
  color: rgb(126, 126, 126);
}
/*//////////////// footer ////////////////////*/
footer{
  background-color: #121618;
  display: flex;
  flex-direction: row;
}
footer p{
  color: rgb(210, 213, 212);
  text-align: center;
}
footer ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
footer ul li a{
  margin-right: 20px;
  color: rgb(210, 213, 212);
}
/*///////////////////// Media Queries ///////////////////*/

@media (max-width: 576px) {
  h1{
    font-size: 3rem !important;
  }
  h2{
    font-size: 2.5rem !important;
  }
}
@media (min-width:768px){
  footer ul{
    justify-content: flex-end;
  }
  footer p{
    text-align: left;
  }
}
@media (min-width:1024px){
  .title-page{
    margin-top: 87px !important;
  }
}
